{% extends 'base.html' %}
<html>
   
   {% block header %}
   <header> 
   <!-- The below code is used to display basic information about the application using basic HTML text and bootstrap cards -->		
	<class="app_info">
		<div class="container text-center" id="textbody">
			<div class="row">
				<div class="col-6 col-md-6 col-sm-6">
					<h id="subhead">
						Our Service
					</h>
					<p id="subtext">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in justo eu nunc cursus dignissim. Maecenas commodo gravida congue. Nullam id porta neque, et aliquam ante. In convallis volutpat nulla, ut viverra metus sagittis non. Suspendisse hendrerit elit sit amet diam vulputate volutpat. Vivamus ornare nibh in ante tempus, dictum tincidunt justo blandit. Praesent tempor sit amet mauris non dapibus. In ultricies non dui quis venenatis. Aenean porta, velit non lobortis sagittis, ligula urna maximus urna, in molestie erat massa nec massa. Praesent vitae mollis nulla, ut rutrum arcu.
					</p>
				</div>
				<div class="col-6 col-md-6 col-sm-6">
					<h id="subhead">
						About Us
					</h>
					<p id="subtext">
						Fusce sit amet tellus nec velit cursus fringilla. Vivamus cursus sagittis massa, sed ultricies quam facilisis quis. Praesent sit amet nisl nibh. Sed imperdiet sapien in quam vehicula, vel mattis sapien convallis. Praesent cursus eleifend urna, at posuere arcu tristique at. Fusce nibh dolor, suscipit sed tellus et, pharetra sollicitudin ipsum. Donec a tortor et urna iaculis viverra. Nunc facilisis volutpat erat sit amet pellentesque. Nullam scelerisque nunc vitae est mollis volutpat. Suspendisse vestibulum nisi et lorem cursus, vitae ultricies ligula gravida.
					</p>
				</div>
			</div>
		</div>
	</div>
   </header>
   {% endblock  %}

   {% block content %}
   <body>
      <!-- checks for messages and loops through results if there are any to display -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} 
         <div class="container-fluid">
            <div class="row mt-3 mb-3">
            <div class="col-md-12">
            {% for message in messages %} 
               <div class="alert alert-info">{{message}}</div> 
            {% endfor %}
            </div>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      
      <div class="container text-center">
         <!-- Header that is displayed above the event cards -->
         <div class="row justify-content-center" id="eventHeader">
            <div class="col-3 col-md-3 col-sm-3">
               <h1>Current Events</h1>
            </div>
         </div>

         <!-- Uses bootstrap to display the genre select form and the searchbar -->
         <div class="row justify-content-center">
            <!-- Custom parameters that places the element in the center of the row -->
            <div class="col-1 col-md-1 col-sm-1">
               <!-- Selects the type of form and the options available within it -->
               <select class="form-select-md" id="genre_select">
                  <option selected>All Events</option>
                  <option value="1">Rock</option>
                  <option value="2">Electronic</option>
                  <option value="3">Punk</option>
                  <option value="4">Rap</option>
                  <option value="5">Classical</option>
               </select>
            </div>
         </div>
      </div>
      <!-- This code displays the most popular events on the site to the user -->
      <!-- Using CSS and Bootstrap code cards for the events are displayed and can be clicked on to take users to these events -->
      <!-- The event name, detals, and an image are supplied on these cards -->
      <div class="container text-center" id="rotatingevents">
         <div class="row">
            <div class="col-3 col-md-3 col-sm-3">
               <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../static/img/event1.jpeg" alt="event 1" id="eventimg">
                  <div class="card-body">
                  <h5 class="card-title">Event #1</h5>
                  <p class="card-text" id="eventDescription">Brief Description of Event</p>
                  <p class="card-text" id="eventStatus">Active</p>
                  <a href="#" class="btn btn-outline-dark" onclick="DetailsFunc()">View Event</a>
                  </div>
               </div>
            </div>
            <div class="col-3 col-md-3 col-sm-3">
               <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../static/img/event2.jpg" alt="event 2" id="eventimg">
                  <div class="card-body">
                  <h5 class="card-title">Event #2</h5>
                  <p class="card-text" id="eventDescription">Brief Description of Event</p> 
                  <p class="card-text" id="eventStatus">Inactive</p>
                  <a href="#" class="btn btn-outline-dark" onclick="DetailsFunc()">View Event</a>
                  </div>
               </div>
            </div>
            <div class="col-3 col-md-3 col-sm-3">
               <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../static/img/event3.jpg" alt="event 3" id="eventimg">
                  <div class="card-body">
                  <h5 class="card-title">Event #3</h5>
                  <p class="card-text" id="eventDescription">Brief Description of Event</p>
                  <p class="card-text" id="eventStatus">Sold Out</p>
                  <a href="#" class="btn btn-outline-dark" onclick="DetailsFunc()">View Event</a>
                  </div>
               </div>
            </div>
            <div class="col-3 col-md-3 col-sm-3">
               <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../static/img/event4.jpg" alt="event 4" id="eventimg">
                  <div class="card-body">
                  <h5 class="card-title">Event #4</h5>
                  <p class="card-text" id="eventDescription">Brief Description of Event</p>
                  <p class="card-text" id="eventStatus">Cancelled</p>
                  <a href="#" class="btn btn-outline-dark" onclick="DetailsFunc()">View Event</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>   
   </body>
   {% endblock %}
</html>