{% extends 'base.html' %}
<html>
   
   {% block header %}
   <header> 
   <!-- The below code is used to display basic information about the application using basic HTML text and bootstrap cards -->		
	<div class="app_info">
		<div class="container text-center" id="textbody">
			<div class="row">
				<div class="col-6 col-md-6 col-sm-6">
					<h id="subhead">
						Our Service
					</h>
					<p id="subtext">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in justo eu nunc cursus dignissim. Maecenas commodo gravida congue. Nullam id porta neque, et aliquam ante. In convallis volutpat nulla, ut viverra metus sagittis non. Suspendisse hendrerit elit sit amet diam vulputate volutpat. Vivamus ornare nibh in ante tempus, dictum tincidunt justo blandit. Praesent tempor sit amet mauris non dapibus. In ultricies non dui quis venenatis. Aenean porta, velit non lobortis sagittis, ligula urna maximus urna, in molestie erat massa nec massa. Praesent vitae mollis nulla, ut rutrum arcu.
					</p>
				</div>
				<div class="col-6 col-md-6 col-sm-6">
					<h id="subhead">
						About Us
					</h>
					<p id="subtext">
						Fusce sit amet tellus nec velit cursus fringilla. Vivamus cursus sagittis massa, sed ultricies quam facilisis quis. Praesent sit amet nisl nibh. Sed imperdiet sapien in quam vehicula, vel mattis sapien convallis. Praesent cursus eleifend urna, at posuere arcu tristique at. Fusce nibh dolor, suscipit sed tellus et, pharetra sollicitudin ipsum. Donec a tortor et urna iaculis viverra. Nunc facilisis volutpat erat sit amet pellentesque. Nullam scelerisque nunc vitae est mollis volutpat. Suspendisse vestibulum nisi et lorem cursus, vitae ultricies ligula gravida.
					</p>
				</div>
			</div>
		</div>
	</div>
   </header>
   {% endblock  %}

   {% block content %}
   <body>
      <!-- checks for messages and loops through results if there are any to display -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} 
         <div class="container-fluid">
            <div class="row mt-3 mb-3">
            <div class="col-md-12">
            {% for message in messages %} 
               <div class="alert alert-info">{{message}}</div> 
            {% endfor %}
            </div>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      
      <div class="container text-center">
         <!-- Header that is displayed above the event cards -->
         <div class="row justify-content-center" id="eventHeader">
            <div class="col-3 col-md-3 col-sm-3">
               <h1>Orchestrator Events</h1>
            </div>
         </div>

         <div class="row justify-content-center">
            <!-- Uses bootstrap to display the genre select form and the searchbar -->
            <div class="col-3 sm-3 md-3">
               <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}">
                  <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
                  <button type="submit" class="flex-shrink-1 btn btn-primary ms-2">Submit</button>
               </form>
            </div>
         </div>
      </div>
      <div class="card-group"> 
         {% for listing in event_list %}
            <div class="card m-2" id = "card-size">
               <img class="card-img-top"
                  src="{{listing.image}}" alt="{{listing.name}}" style = "height: auto; width: auto;">
               <div class="card-body">
                  <h5 class="card-title">{{listing.name}}</h5>
                  <p class="card-text">{{listing.description}}</p>
               </div>
               <div class="card-footer"><a href="{{url_for('listing.event_details', id=listing.id)}}" class ="btn btn-danger"> View Details </a></div>
            </div>
         {% endfor %}
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>   
   </body>
   {% endblock %}
</html>