{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   
   {% block header %}
   <header>
   <div class="container text-center">
      <div class="row">
         <div class="col-12 col-md-12 col-sm-12">
            <h1 id="texthead">
               Details for {{event.name}}
            </h1>
            <div id="textbody">
               <p>{{event.description}}</p>
               <p>Genre: {{event.genre}}</p>
               <img src="{{event.image}}" id="createUI" width="450" height="350"> 
               <p>Event Start: {{event.start_date}} &nbsp;&nbsp;-&nbsp;&nbsp; Event End: {{event.end_date}}</p>
               <p>Number of Tickets: {{event.numTickets}} &nbsp;&nbsp;-&nbsp;&nbsp; Cost Per Ticket: ${{event.costTickets}}</p>
            </div>
      </div>
   </div>
   </header>
   {% endblock  %}

   {% block content %}
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-5 col-md-5 col-sm-3" id="detailText">
               {{render_form(form)}}
               <br>
               {{render_form(form2)}}
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   {% endblock %}
</html>