{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   
   {% block header %}
   <header>
   <div class="container text-center">
      <div class="row">
         <div class="col-12 col-md-12 col-sm-12">
            <h1 id="viewHeader">
               Details for {{event.name}}
            </h1>
            <div id="viewText">
               <p>{{event.description}}</p>
               <p>Genre: {{event.genre}}</p>
               <img src="{{event.image}}" id="detailIMG"> 
               <p id="viewPaddingTop">Event Start: {{event.start_date}} &nbsp;&nbsp;-&nbsp;&nbsp; Event End: {{event.end_date}}</p>
               <p id="viewPaddingBottom">Number of Tickets: {{event.numTickets}}&nbsp;&nbsp;-&nbsp;&nbsp; Ticket Cost: ${{event.costTickets}}</p>
            </div>
      </div>
   </div>
   </header>
   {% endblock  %}

   {% block content %}
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-5 col-md-5 col-sm-3" id="viewText">
               {% if event.status == 'Open' %}
                  <center>
                     {{render_form(form, "/event_listing/{0}/ticket_purchase".format(event.id))}}
                  </center>
               {% else if event.status == 'Cancelled' %}
                  <center>
                     <p>The event has been cancelled</p> 
                  </center>
               {% else if event.status == 'Inactive' %}
               <center>
                  <p id="viewText">The date for the event has already passed</p> 
               </center>
               {% else if event.status == 'Sold Out' %}
               <center>
                  <p id="viewText">There are no tickets available</p> 
               </center>
               {% endif %}
              
            </div>
         </div>
         <div class="row justify-content-center"> 
            <div class="col-5 col-md-5 col-sm-3" id="textbody">
               <!-- for loop runs through database to display all comments if they exits -->
               <!-- Shows commenter name, the comment itself, and post date --> 
               {{render_form(form2, "/event_listing/{0}/comment".format(event.id))}}
               {% for comment in event.comments %}
               <div class="col-12 col-md-12 col-sm-6">  
                  <b>Posted By: {{comment.user.name}} <span class="ml-2">On: {{comment.created_at}}</span></b>
                  <p>- {{comment.text}}</p>  
               </div> 
               {% endfor %} 
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   {% endblock %}
</html>