{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   <body>
   
   {% block header %}
   <header>
   <div class="container text-center" id="textbody">
      <div class="row">
         <div class="col-12 col-md-12 col-sm-12">
            <h id="subhead">
               Your editable events
            </h>
      </div>
   </div>
   </header>
   {% endblock  %}

   {% block content %}
      <!-- checks for messages and loops through results if there are any to display -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} 
         <div class="container-fluid">
            <div class="row mt-3 mb-3">
            <div class="col-md-12">
            {% for message in messages %} 
               <div class="alert alert-info">{{message}}</div> 
            {% endfor %}
            </div>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      
      <div class="container">
         <div class="row justify-content-center">
            <!-- The below code iterates through the query from the bp function and presents all the events that the current user is author of -->
            <div class="col-6 col-md-6 col-sm-3" id="textbody">
               {% for event in events %}
               <div class="jumbotron bg-light">
                  <h1 class="display-6">Event name: {{event.name}}</h1>
                  {% if event.status == 'Open' %}
                  <p style="color:green" class="display-7">Event status: {{event.status}}</p>
                  {% elif event.status == 'Sold Out' %}
                  <p style="color:darkgoldenrod" class="display-7">Event status: {{event.status}}</p>
                  {% elif event.status == 'Cancelled' %}
                  <p style="color:crimson" class="display-7">Event status: {{event.status}}</p>
                  {% elif event.status == 'Inactive' %}
                  <p style="color:blue" class="display-7">Event status: {{event.status}}</p>
                  {% endif %}
                  <p class="display-7">Event genre: {{event.genre}}</p>
                  <img src="{{event.image}}" id="detailIMG2"> 
                  {% if event.status != 'Cancelled' or event.status != 'Inactive' %}
                  <p>Event datetime: {{event.start_date}} - {{event.end_date}}</p>
                     {{render_form(form, "/event_manage/{0}/edit_event".format(event.id))}}
                  {% endif %}
                  <hr>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   </body>
   {% endblock %}
</html>