{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   <body>
   
   {% block header %}
   <header>
   <div class="container text-center" id="textbody">
      <div class="row">
         <div class="col-12 col-md-12 col-sm-12">
            <h id="subhead">
               Edit (EVENT NAME)
            </h>
      </div>
   </div>
   </header>
   {% endblock  %}

   {% block content %}
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-5 col-md-5 col-sm-3" id="detailText">
               <br>
               {{render_form(form)}}
               <br>
               <h1>Delete Event</h1>
               {{render_form(form2)}}
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   </body>
   {% endblock %}
</html>