{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   <body>
   
   {% block header %}
   <header>
   <div class="container text-center" id="textbody">
      <div class="row">
         <div class="col-12 col-md-12 col-sm-12">
            <h id="subhead">
               Your editable events
            </h>
      </div>
   </div>
   </header>
   {% endblock  %}

   {% block content %}
      <!-- checks for messages and loops through results if there are any to display -->
      {% with messages = get_flashed_messages() %}
      {% if messages %} 
         <div class="container-fluid">
            <div class="row mt-3 mb-3">
            <div class="col-md-12">
            {% for message in messages %} 
               <div class="alert alert-info">{{message}}</div> 
            {% endfor %}
            </div>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-5 col-md-5 col-sm-3" id="detailText">
               {{render_form(form)}}
            </div>
         </div>
      </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   </body>
   {% endblock %}
</html>