{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
<html>
   <body>
   
   {% block header %}
   <header>
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-5 col-md-6 col-sm-3">
               <h5 id="subhead">Get started on Orchestrator by creating an account</h5>
            </div>
         </div>
      </div>      
   </header>
   </header>
   {% endblock  %}
   
   {% block content %}
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-6 col-md-6 col-sm-3" id="textbody">
            {% for purchases in purchase.booker %}
            <div class="jumbotron">
               <h1 class="display-6">Transaction ID: {{purchases.id}}</h1>
               <p class="display-7">Event Name: {{purchases.event_details}}</p>
               <p>Number of tickets purchased: x{{purchases.bought_tickets}}</p>
               <p>Total cost of order: ${{purchases.total_cost}}</p>
               <hr>
            </div>
            {% endfor %} 
         </div>
      </div>
   </div>
      <!-- Esnures that the bootstrap elements are called on each page render -->
      {{super()}}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   </body>
   {% endblock %}
</html>